.git
.github
.cache
.local
.config
.data
**/.data
.agents
.codex

node_modules
**/node_modules
dist
**/dist
tmp
out-tsc
coverage
*.tsbuildinfo

.env
.env.*
**/.env
**/.env.*
!.env.example
!**/.env.example

gha-creds-*.json
npm-debug.log
yarn-error.log
pnpm-debug.log
.DS_Store
Thumbs.db
